@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme {
    /* Ссылка на переменные из layout.tsx */
    --font-sans: var(--font-sans);
    --font-serif: var(--font-serif);

    --color-bg-l: #f5f5f5;
    --color-ww: #f5f5f5;
    --color-stroke: #e2e0df;
    --color-muted: #5e5d59;
    --color-bb: #201e1d;
    --color-bggrey: #edecea;

    /* Контейнер */
    --breakpoint-xl: 1280px;
    --content-size: 1240px;
    --breakpoint-2xl: none;
}

@layer base {
    :root {
        /* shadcn ожидает эти переменные */
        --background: 255 255 255;
        --foreground: 28 28 26;
        --popover: 255 255 255;
        --popover-foreground: 28 28 26;
        --border: 226 224 223; /* твой --color-stroke */
        --muted-foreground: 94 93 89; /* твой --color-muted */
        --accent: 245 245 245; /* твой --color-bg-l */
        --accent-foreground: 28 28 26;
        --ring: 226 224 223;
        --radius: 0.5rem;
    }
    * {
        border-color: var(--color-stroke);
    }
    body {
        /* Используем переменную темы */
        @apply bg-bg-l text-[--color-bb] antialiased;
        font-family: var(--font-sans);
        font-feature-settings: "cv01", "ss01";
        letter-spacing: -0.01em;
    }

    h1,
    h2,
    .font-display {
        /* font-serif теперь ссылается на Noto Serif */
        @apply font-serif font-medium tracking-tight;
    }
}

@layer components {
    .main-layout {
        @apply mx-auto w-full max-w-(--breakpoint-xl);
    }
    .content-layout {
        @apply mx-auto w-full max-w-(--content-size) px-5;
    }
}
